<html><style type="text/css">*{margin:0px; padding:0px;}</style>
<script>
var mtadinfo={
mt_ad_pid:"{{ ad['pid'] }}",
mt_ad_width:"{{ ad['width'] }}",
mt_ad_height:"{{ ad['height'] }}",
mt_ad_impid:"{{ ad['impid'] }}",
mt_ad_advid:"{{ ad['advid'] }}",
mt_ad_unid:"{{ ad['unid'] }}",
mt_ad_plid:"{{ ad['plid'] }}",
mt_ad_gpid:"{{ ad['gpid'] }}",
mt_ad_cid:"{{ ad['cid'] }}",
mt_ad_arid:"{{ ad['arid'] }}",
mt_ad_ctype:"{{ ad['ctype'] }}",
mt_ad_xcurl:"{{ ad['xcurl'] }}",
mt_ad_of:"0",
mt_ad_tview:"{{ ad['tview'] }}",
mt_ad_mtls:[
	{
	p0:"{{ ad['mtls'][0]['p0'] }}",
	p1:"{{ ad['mtls'][0]['p1'] }}",
	p2:"{{ ad['mtls'][0]['p2'] }}",
	p3:"{{ ad['mtls'][0]['p3'] }}",
	P4:"{{ ad['mtls'][0]['p4'] }}",
	p5:"",p6:"",p7:"",p8:"",p9:""
	}
		]
	};
	
	document.write('<span id=cont_mt_a_'+mtadinfo.mt_ad_pid+'></span>');document.write('\<script type="text/javascript" language="javascript" charset="utf-8" src="http://mtty-cdn.mtty.com/mt.js">\<\/script>');
</script>
<div style="display:none;">
<img src="{{ ad['xcurl'] }}"  height="1px" width="1px"/>
</div>
</html>
